* {
    
    font-family: 'Times New Roman', Times, serif;
    
}
body {
    background-color: #e6e6e6;
}
header {
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #ff3c00;
}
nav li {
    width: 70px;
}

nav ul {
    width: 30%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   
}

a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: 550;
}

.logo {
    font-size: 50px;
    font-weight: 550;
    color: rgb(0, 0, 0);
}

.first-row {
    display: flex;
    font-size: larger;
}
.first-row img{
    width: 50%;
}
footer {
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: #0f0f0f;
    color: #fff;
}
