* {
    
    font-family: 'Times New Roman', Times, serif;
    
}
body {
    background-color: #b3b3b3;
}
nav {
    display: flex;
    align-items:center;
    justify-content: space-around;
}


nav ul {
    width: 30%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

footer {
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: #0f0f0f;
    color: #fff;
}